@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet'); 
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Animations */
.animationDroite {
    opacity: 0;
      transform: translateX(-100%);
      animation: slideInRight 1.5s forwards;
  }
  .animationGauche {
    opacity: 0;
      transform: translateX(-100%);
      animation: slideInLeft 1.5s forwards;
  }
  
  /* Animation d'entrée par la gauche */
  @keyframes slideInLeft {
    0% { opacity: 0; transform: translateX(-100%); }
    100% { opacity: 1; transform: translateX(0); }
  }
  
  /* Animation d'entrée par la droite */
  @keyframes slideInRight {
    0% { opacity: 0; transform: translateX(100%); }
    100% { opacity: 1; transform: translateX(0); }
  }

body {
    font-family:'inter', sans-serif;
    font-size: 13px;
    line-height: 1.7;
    background-color:white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin: 0 auto;
    padding: 0 10px; 
}

 /* Menu Hamburger */
.hamburger {
    display: none;
    cursor: pointer;
    padding: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.line {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
}

.main a {
  text-decoration: none;
}

a
{
    text-decoration: none;
}

ul
{
    list-style: none;
}

header
{   
    background-color: white;
    width: 100%;
    grid-column: 1/5;
    grid-row: 1/2;
}

.main h1
{
    margin-top: 32px;
    float: left;  
    font-family: 'crete Round', serif;
    font-size: 45px;
    color: black;
}

.bleu
{
    color: rgb(68, 109, 156);
}
 

#menu
{
    margin-top: 40px;
    position: sticky;
    float : right; 
    z-index: 2;
    display: grid;
}

#menu > ul
{
    display: flex;
}

#menu li a 
{
    color: black;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 2px;
    padding: 7px;
    font-size: 16px;
}

.sous-menu
{
    position: fixed;
    display: none;  
    background-color: #faf8f8;
}
.sous-menu li a:hover
{
    background-color: rgb(146, 169, 189);
}

a:hover {
  background-color: rgb(68, 109, 156);
  border-radius: 25px;
}

.a-sous-menu:hover .sous-menu
{
    display: block;
}


#accroche {
    margin: 0 auto;
    grid-column: 1/5;
    grid-row: 2/3;
    font-style: oblique;
    font-size: 25px;
    color: rgb(28, 26, 26);
}

.card {
    border-radius: 10px;
    padding: 30px;
    position: relative;
    box-shadow: 10px 30px 30px rgba(0, 0, 0, 0.108);
    z-index: 1;
}

.daniel {
    background-color:hsl(219, 29%, 14%);
    color: rgb(243, 241, 241);
    grid-column: 1/3;
    grid-row: 3/4;
}

.jonathan {
    grid-column: 3/4;
    grid-row: 3/4;
    background: hsl(217, 19%, 35%);
    color: rgb(243, 241, 241);
}

.jeanette {
    grid-column: 1/2;
    grid-row: 4/5;
    background: hsl(210, 46%, 95%);
    color: rgb(82, 85, 109);
}

.patrick {
    grid-column: 2/4;
    grid-row: 4/5;
    background: hsl(219, 29%, 14%);
    color: rgb(243, 241, 241);
}

.kira {
    grid-column: 4/5;
    grid-row: 3/5;
    background: hsl(210, 46%, 95%);
    color: rgb(82, 85, 109);
}

.icon {
    height: 40px;
    border-radius: 50px;
}
.bgicon {
    position: absolute;
    top: 0;
    right: 100px;
    height: 125px;
}

.fifty {
    opacity: 50%;
    margin: 3px 0;
}
.seventy {
    opacity: 70%;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4;
}

.card h2 {
    position: relative;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.3;
    margin:20px 0;
    z-index: 1;
}

.info {
    position: absolute;
    top: 25px;
    left: 90px;
}

h3 {
    font-size: 15px;
}

footer {
    grid-column: 1/5;
    grid-row: 5/6;
}
  
footer h2 {
    color: black;
    text-align: center;
    background-color: white;
  
  
    font-family: 'crete Round', serif;
    font-size: 45px;
    padding-top: 30px;
}

.copyright {
    text-align: center;
    font-weight: bold;
    color: black;
}

@media (max-width:817px) {
    body {
        grid-template-columns: 1fr;
        width: 100%;
    }

    header {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    #accroche {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .daniel {
        grid-column: 1/3;
        grid-row: 3/5;
    }
    .jonathan {
        grid-column:1/3;
        grid-row: 5/6;
    }
    .jeanette {
        grid-column: 1/3;
        grid-row: 6/7;
    }
    .patrick {
        grid-column: 1/3;
        grid-row: 7/9;
    }
    .kira {
        grid-column: 1/3;
        grid-row: 9/11;
    }
    footer {
        grid-column: 1/3;
        grid-row: 11/12;
    }

    #menu {
        display: none; /* Cache le menu sur les écrans plus petits */
        position: fixed; /* Fixe le menu par rapport à la fenêtre du navigateur */
        top: 30px;
        right: 0;
        width: 50%;
        background-color: rgba(255, 255, 255, 0.777);
        z-index: 1002;
    }

    #menu > ul {
        flex-direction : column;
    }

    #menu li {
        display : block;
        text-align: center;
    }

    .a-sous-menu:hover .sous-menu {
        display : block;
        position: fixed;
        top: 110px;
        left: 0;
        background-color: rgba(255, 255, 255, 0.777);
        width: 50%;
    }


    .hamburger {
        display: block; /* Affiche l'icône hamburger sur les petits écrans */
        position: fixed;
        top: 30px;
        right: 0;
        z-index: 1003;
    }

    #menu.active {
        display : block;
    }

    header {
        position: fixed;
        width: 100%;
        z-index: 1000;
    }

    #accroche {
        padding-top : 100px;
    }
}
